.main_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 80px;

    @media screen and (max-width: 685px) {
        padding: 25px;
    }
}

.container_wrap {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    margin-top: 70px;
    @media screen and (max-width: 685px) {
        width: 100%;
        grid-column-gap: 15px;
    }
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
}

.social {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 130px;
    cursor: pointer;

    svg {
        &:hover path {
            fill: var(--Softred);
        }
    }
}
